.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 150px 40px;
  grid-template-areas: "image" "text" "footer";
  border: solid;
  border-radius: 15px;
}

.background-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 2px solid black;
}

.card-body {
  grid-area: text;
  padding-left: 8px;
  border-bottom: 1px solid black;
}

.card-body .card-title {
  font-weight: bold;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body .card-description {
  font-size: 14px;
  font-style: italic;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  grid-area: footer;
  justify-content: center;
}
