.card-list {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  @media screen and (max-width: 900px) {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  @media screen and (max-width: 590px) {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
}
