.header-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .option {
    border: 1px solid rgba(95, 62, 62, 0.849);
    border-radius: 10px;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
    color: rgb(66, 64, 64);

    &:hover {
      transform: scale(1.2);
      transition: transform 0.1s;
      color: black;
      border: 1px solid black;
    }

    @media screen and (max-width: 590px) {
      font-weight: normal;
      padding: 4px;
      &:hover {
        font-weight: bold;
        transform: scale(1);
        transition: transform 0.1s;
      }
    }
  }

  @media screen and (max-width: 590px) {
    width: 100%;
  }
}
