.header-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .option {
    border-radius: 10px;
    cursor: pointer;
    padding: 6px;
    font-weight: bold;
    color: #cfbd52;
    font-size: small;
    box-shadow: 0 0 1px;

    &.active {
      border: 2px solid #cfbd52;
    }

    @media screen and (max-width: 590px) {
      font-weight: normal;
      padding: 4px;
      &:hover {
        font-weight: bold;
        transform: scale(1);
        transition: transform 0.1s;
      }
    }
  }

  @media screen and (max-width: 590px) {
    width: 95%;
  }
}
