body {
  font-family: "Roboto Slab", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.app {
  justify-content: center;
  margin: 20px 200px;
}

@media screen and (max-width: 900px) {
  .app {
    margin: 0 20px;
  }
}
