body {
  font-family: "Roboto Slab", sans-serif;
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.app {
  justify-content: center;
  margin: 0 50px;
}
